<html>

<head>


</head>

<body>

        <form action="/nuevaPregunta" method="POST">
            <label>Titulo de la nueva pregunta: </label>
            <input type="text" name="la_pregunta">


            <label> Respuestas </label>
            <textarea class="rellenar" name="respuestas" placeholder="Escribe aquí las respuestas!"></textarea>


            <input type="submit" value="Añadir">
        </form>



</body>




</html>