<link rel="stylesheet" type="text/css" href="css/header.css" media="screen">
<div id="cabecera">

    <div id="contenedorTitulo">
        <h1 class = "titulo">FaceBluff</h1>
    </div>

    <div class="navbar">
        <ul class="navbarList">

            <li><a class="navLink" href="/login">Entrar</a></li>
            <li><a class="navLink" href="/registro">Nuevo Usuario</a></li>

        </ul>
    </div>

</div>