<link rel="stylesheet" type="text/css" href="css/header.css" media="screen">
<div id="cabecera">

    <div id="contenedorTitulo">
        <h1 class = "titulo">FaceBluff</h1>
    </div>

    <div class="navbar">
        <ul class="navbarList">
            <% if(mensaje){ %>
            <li><a class="navLink" href="/my_profile">Perfil</a></li>
            <li><a class="navLink" href="/friends">Amigos</a></li>
            <li><a class="navLink" href="/questions">Preguntas</a></li>
            <li><a class="navLink" href="/desconectar">Desconectar</a></li>
            <!--<li><a class="" href="/solicitudesAdoptante">Puntos</a></li> PUNTOS NO ES UN ENLACE-->
            <% }else {%>
            <li><a class="navLink" href="/login">Entrar</a></li>
            <li><a class="navLink" href="/registro">Nuevo Usuario</a></li>
            <% } %>
        </ul>
    </div>

</div>