<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" type="text/css" href="css/login.css" media="screen">
    <link rel="shortcut icon" href="icon.png">

    <title>Login</title>
</head>

<body>
    <%- include('./header'); %>
    
    <div id="containerGeneral">
        
        <form action="/login" method="POST" class="panelLogin">
             <div class = "mail">
                 <p class="nombreCamposLogin"> Correo:</p> 
                 <input type="text" value="usuario@ucm.es" name="correo" class="textoLogin"><br>
            </div>
             <div class = "clave">
                <p class="nombreCamposLogin"> Contraseña:</p> 
                 <input type="text" name="password" value="" class = "textoLogin"><br>
            </div>
            <% if(mensaje){%> <p class="flash"> <%= mensaje %> </p><%}else {%> <p class="flash"> &nbsp </p> <%}%>
            <input type="submit" value="Aceptar" class="botonLogin">

         </form>
        
    </div>

</body>

</html>