<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" type="text/css" href="css/perfil.css" media="screen">
    <link rel="shortcut icon" href="../img/icon.png">

    <title>Perfil | Facebluff</title>
</head>

<body>
    <%- include('./headerRegistrado'); %>

    <div id="containerGeneral">
        <h1 class="tituloPerfil">Tu perfil</h1>
        <div class="panelPerfil">
            <div class = "imagenDatos">
                <div>
                    <% if(usuario.imagen){ %>
                        Imagen
                    <%}else{%>
                        <img src="../img/userImg.png" alt="Imagen de usuario." width="200" height="200">
                    <%}%>

                </div>
                <div class="datos">
                    <p>
                        <%= usuario.nombre %>
                    </p>
                    <p>
                        <% if(usuario.genero === "hombre"){ %>
                        Hombre.
                        <%}else if(usuario.genero === "mujer"){%>
                        Mujer.
                        <%}%>
                    </p>
                    <p>
                        <%= usuario.fechaNacimiento %>.
                    </p>
                    <p>
                        <%= usuario.puntos %> puntos.
                    </p>

                </div>
            </div>
            <button class="botonModif">Modificar</button>
        </div>
    </div>

</body>

</html>