<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" type="text/css" href="css/perfil.css" media="screen">
    <link rel="shortcut icon" href="icon.png">

    <title>Login</title>
</head>

<body>
    <%- include('./headerRegistrado'); %>

    <div id="containerGeneral">
        <h1 class="tituloPerfil">Tu perfil</h1>
        <div class="panelPerfil">
            <div class = "imagenDatos">
                <div>Imagen</div>
                <div class="datos">
                    <p>
                        <%= usuario.nombre %>
                    </p>
                    <p>
                        <% if(usuario.genero === "hombre"){ %>
                        Hombre
                        <%}else{%>
                        Mujer
                        <%}%>
                    </p>
                    <p>
                        <%= usuario.fechaNacimiento %>
                    </p>
                    <p>
                        <%= usuario.puntos %>
                    </p>

                </div>
            </div>
            <div class="botonModif">Botón modificar</div>
        </div>
    </div>

</body>

</html>