<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" type="text/css" href="css/p1.css" media="screen">
    <link rel="shortcut icon" href="icon.png">

    <title>Login</title>
</head>

<body>
    <%- include('./header'); %>
    
    <div id="containerGeneral">
        
        <h1>Tu perfil</h1>
        <div>
            <p>Nombre</p>
            <p>Edad</p>
            <p>Genero</p>
            <p>Puntos</p>
            <div>Botón modificar</div>
        </div>
        
    </div>

</body>

</html>