<!DOCTYPE html><html lang="es">

<head>
    <title> Preguntas - FaceBluff </title>
    <meta charset="utf-8" />



</head>

<body>
    <div class="solicitudes">
        <div>
            <p>Preguntas seleccionadas aleatoriamente</p>
        </div>
        <%lista_preguntas.forEach(pregunta=>{%>
            <div >
                <ul>
                    
                    <li>
                        <form method="GET" action="/desarrollo_pregunta">
                            <input type="hidden" name="id_pregunta" value="<%=pregunta.id%>">
                            <input type="submit" value="<%=pregunta.texto_pregunta%>">
                        </form>
                    </li>
                </ul>
            </div>
            <% }); %>



                <div class="nuevaPregunta">
                    <p>¡Añade tus preguntas!</p>
                    <div>
                        <form method="GET" action="/nuevaPregunta">
                            <input type="submit" value="Crear nueva pregunta">
                        </form>
                    </div>
                </div>
    </div>
</body>

</html>