<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" type="text/css" href="css/registro.css" media="screen">
    <link rel="shortcut icon" href="../img/icon.png">

    <title>Registro | Facebluff</title>
</head>

<body>
    <%- include('./header'); %>

    <div id="containerGeneral">
        <h1 class="tituloRegistro">Nuevo usuario</h1>

        <form method="post" action="registro" class="panelRegistro" enctype="multipart/form-data">
            <div class="campoRegistro">Email:<input class="campoEscribir" type="email" name="email" required></div>
            <div class="campoRegistro">Contraseña:<input class="campoEscribir" type="password" name="password"></div>
            <div class="campoRegistro">Nombre: <input class="campoEscribir" type="text" name="nombre" required></div>
            <div class="botonesGenero">
                Sexo:
                <input type="radio" name="genero" value="hombre" id="formHombre">
                <label for="formHombre">Hombre</label>
                <input type="radio" name="genero" value="mujer" id="formMujer">
                <label for="formMujer">Mujer</label>
                <input type="radio" name="genero" value="otro" id="formOtro" checked>
                <label for="formOtro">Otro</label>
            </div>

            <div class="campoRegistro">Fecha de nacimiento(dd/mm/aaaa): <input class="campoEscribir" type="date" name="fechaNacimiento"
                    placeholder="dd/mm/aaaa" min="1900-01-01"></div>
            <div class="campoRegistro">Imagen de Perfil: <input type="file" name="foto">
            <p class="avisoImagen">Solo imagenes inferiores a 300KB.</p>
            </div>
            
            <% let msg = getAndClearFlash();
            if(msg){%> <p class="flash"> <%= msg %> </p><%}else {%> <p class="flash"> &nbsp </p> <%}%>

            <input type="submit" name="Aceptar" class="botonRegistro">
        </form>

    </div>

</body>

</html>