<!DOCTYPE html>
<html lang="es">

<head>

    <link rel="stylesheet" type="text/css" href="css/registro.css" media="screen">
    <link rel="shortcut icon" href="icon.png">

    <title>Login</title>
</head>

<body>
    <%- include('./header'); %>
    
    <div id="containerGeneral">
        
    
        
    </div>

</body>

</html>