.buscarTitulo{
	margin-top: 30px;
	text-align: center;
}
.panelBuscar{
    color:white;
    margin-top: 50px;
    display:flex;
    flex:grow;
	flex-direction: column;
    align-items: center;
	margin-left: auto;
    margin-right: auto;
    background-image: url("../img/morado.jpg");
    min-height: 150px;
	width: 700px;
	border: black solid;
	border-radius: 10px;
    min-width: 350px;

}

.un_resultado{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
#resultados p{
    font-size: 25px;
    color:white;
    display: inline-block;
}

.nombreUsuario{
    display: inline-block;
}
.botonSolicitar{
    width:200px;
	height: 35px;
    margin-left: 30px;
    display: inline-block;
	cursor: pointer;
	font-family: 'Mali', cursive;
	font-size: 20px;
    background-color: white;
}

.botonSolicitar:hover{
	background-color: grey;
}

.imagen_pequenia{
    max-width: 40px;
	max-height: 40px;
	min-width: 40px;
	min-height: 40px;
    margin-right: 10px;
}