
.tituloRespPregunta{
	margin-top: 30px;
	text-align: center;
}

.panelRespPregunta{
    color:white;
    margin-top: 50px;
    display:flex;
    flex:grow;
	flex-direction: column;
    align-items: center;
	margin-left: auto;
	margin-right: auto;
    background-image: url("../img/morado.jpg");
    min-height: 250px;
	width: 700px;
	border: black solid;
	border-radius: 10px;
    min-width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.panelRespPregunta p{
    font-size: 25px;
    font-weight: 800;
}

.input_radial{
    display: inline-block;
}

.texto_inline_block{
    display: inline-block;
}

.input_especial{
    height: 30px;  
}

.panelRespPregunta h1{
    margin-bottom: 25px;
}

.botonResponder{
	width:200px;
	height: 50px;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
	cursor: pointer;
	font-family: 'Mali', cursive;
	font-size: 20px;
	background-color: white;
}
.botonResponder:hover{
	background-color: grey;
}

.flash{
	text-align: center;
	color: red;
	font-size: 130%;
    font-weight: bold;
    margin-top:1%;
	margin-bottom: 1%;
}