*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url("../img/fondo3.jpg");
	/*background-size: cover;*/
	font-family: 'Mali', cursive;
}
#contenedorTitulo{
	width: 100%;
	height: 150px;
	text-align: center;
	background-image: url("../img/morado.jpg");
}
.titulo{
	padding-top: 10px;
	font-size: 90px;
	color:white;
}
.navbar{
	background-color:black;
	height: 45px;	
}

.navbarList{
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-evenly;
}

.navLink{
	color:white;
	display: inline-block;
	text-decoration: none;
	margin-left: 20px;
	margin-top: 2px;
	font-size: 25px;
	font-family: 'Mali', cursive;
}

.navLink:hover{
	color:grey;
}
.icon_puntos{
	display:flex;
}
.perfilIcon{
	max-width: 40px;
	max-height: 40px;
	min-width: 40px;
	min-height: 40px;
	margin-top: 2px;
}