*{
	margin: 0px;
	padding: 0px;
	border: solid;
}

#Cabecera{
	width: 100%;
	height: 200px;
	text-align: center;
	background-image: url(morado.jpg);


}

#ContainerGeneral{
	background-image: url(fondo3.jpg);
	height: auto;
}

#BarraDeEnlaces a{
	display: inline-block;

}

#FaceBLUFF{
	font-family: 'Mali', cursive;
}