.tituloLogin{
	margin-top: 30px;
	text-align: center;
}
.panelLogin{
    margin-top: 50px;
    display:flex;
	flex-direction: column;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/morado.jpg");
	height: 300px;
	width: 30%;
	border: black solid;
	border-radius: 10px;
	min-width: 350px;
}

.textoLogin{
	width: 300px;
	height: 30px;
}

.mail{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.clave{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.botonLogin {
	width:200px;
	height: 50px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	font-family: 'Mali', cursive;
	font-size: 20px;
	background-color: white;
}
.botonLogin:hover{
	background-color: grey;
}
.nombreCamposLogin{
	font-size: 20px;
	color:white;
}

.flash{
	text-align: center;
	color: red;
	font-size: 130%;
    font-weight: bold;
    margin-top:1%;
	margin-bottom: 1%;
}