.tituloAddPreguntas{
	margin-top: 30px;
	text-align: center;
}

.panelAddPreguntas{
    color:white;
    margin-top: 50px;
    display:flex;
    flex:grow;
	flex-direction: column;
    align-items: center;
	margin-left: auto;
	margin-right: auto;
    background-image: url("../img/morado.jpg");
    min-height: 250px;
	width: 700px;
	border: black solid;
	border-radius: 10px;
    min-width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input_p{
    margin-top: 25px;
    font-size: 20px;
    padding: 5px;
}

.panelAddPreguntas label{
    font-size: 25px;
    font-weight: 800;
}

.botonAdd{
	width:200px;
	height: 50px;
	margin-top: 10px;
    margin-left: 140px;
	cursor: pointer;
	font-family: 'Mali', cursive;
	font-size: 20px;
	background-color: white;
}
.botonAdd:hover{
	background-color: grey;
}

#lasRespuestas{
    margin-top: 20px;
}

#textarea{
    margin-top: 25px;
    min-width: 510px;
    min-height: 100px;
    max-width: 600px;
}

#titulo{
    margin-top: 25px;
    width: 510px;
    height: 25px;
    
}

.flash{
	text-align: center;
	color: red;
	font-size: 130%;
    font-weight: bold;
    margin-top:1%;
	margin-bottom: 1%;
}